/*** font faces ***/

@font-face {
    font-family: "Swear-Display-Display-Regular";
    src: url("./assets/fonts/swear/SwearDisplayDemo-Regular.otf");
}

@font-face {
    font-family: "Swear-Display-Display-Italic";
    src: url("./assets/fonts/swear/SwearDisplayDemo-Italic.otf");
}

@font-face {
    font-family: "Swear-Display-Display-Light";
    src: url("./assets/fonts/swear/SwearDisplayDemo-Light.otf");
}

@font-face {
    font-family: "Swear-Display-Light-Italic";
    src: url("./assets/fonts/swear/SwearDisplayDemo-LightItalic.otf");
}

@font-face {
    font-family: "Swear-Display-Light-Citali";
    src: url("./assets/fonts/swear/SwearDisplayDemo-LightCilati.otf");
}

@font-face {
    font-family: "Swear-Display-Medium-Citali";
    src: url("./assets/fonts/swear/SwearDisplayDemo-MediumCilati.otf");
}

@font-face {
    font-family: "Swear-Display-Bold-Italic";
    src: url("./assets/fonts/swear/SwearDisplayDemo-BoldItalic.otf");
}

@font-face {
    font-family: "Degular-Display-Thin";
    src: url("./assets/fonts/degular/DegularDisplayDemo-Thin.otf");
}

@font-face {
    font-family: "Degular-Light";
    src: url("./assets/fonts/degular/DegularDemo-Light.otf");
}

@font-face {
    font-family: "Degular-Light-Italic";
    src: url("./assets/fonts/degular/DegularDemo-LightItalic.otf");
}

@font-face {
    font-family: "Digestive";
    src: url("./assets/fonts/digestive/DigestiveDemo-Three.otf");
}

@font-face {
    font-family: "Le-Murmure";
    src: url("./assets/fonts/le-murmure/le-murmure.otf");
}

body {
	display: flex;
	justify-content: center;
}

/*** body background ***/

#background-container {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
}

#background-video-wrapper {
	height: 100%;
  	overflow: hidden;
  	width: 100%;
  	top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
/*  	z-index: 10;*/
/*  	background-color: green;*/

}

#background-video {
	position: absolute;
	top: -25vh;
  	height: 150vh;
  	width: 100vw;
  	transform: scale(2);
/*  	min-height: 100vh;*/
}

/*** navigation ***/

#navigation-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90.5% !important;
	border-radius: 25px;
  	border: 1.5px solid black;
  	/* padding: 10px; */
}

#top-navigation-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	width: 99%;
	height: 10%;
	margin-left: 5px;
	margin-right: 5px;
/*	background-color: black;*/	
}

#bottom-navigation-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;
	width: 99%;
	height: 10%;
	margin-left: 5px;
	margin-right: 5px;	
/*	background-color: black;	*/
}

/*** link transitions ***/

#navigation-link {
	color: black;
	font-size: 30px;
	font-family: "Swear-Display-Display-Regular";
	cursor: pointer;
	transition: all 0.5s ease;
}

#navigation-link:hover {
	color: black;
	font-size: 30px;
	cursor: pointer;
 transform:skew(-15deg);
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    color: black;
    text-decoration:none;
    border-style:solid;
    margin-bottom: -8px;
    border-width: 0px 0px 1.5px 0px;
}

a:active {
    color: black;
    text-decoration:none;
    border-style:solid;
    margin-bottom: -8px;
    border-width: 0px 0px 1.5px 0px;
}

a:visited {
    color: black;
    text-decoration:none;
    border-style:solid;
    margin-bottom: -8px;
    border-width: 0px 0px 1.5px 0px;
}

/*** dynamic container for all pages ***/

#all-content-container {
	position: absolute;
	top: 10vh;
    /* left: 20; */
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 95%;
	height: 80%;
/*	background-color: green;*/
	opacity: 1;
  	transition: opacity 6s ease; 
}

#all-content-container.fade {
	opacity: 0;
}

/*** landing quote ***/

#landing-quote-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 90%;
/*	border: 1.5px solid black;*/
	z-index: 100;
}

#landing-quote-copy {
	position: absolute;
	padding: 100px;
	/* top: 2vh; */
	color: black;
	font-family: "Degular-Light";
/*	font-family: "Swear-Display-Display-Italic";*/
	font-size: 30px;
}

#texas-icon-container {
	position: absolute;
	top: 42vh;
	left: 38vw;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 18%;
	height: 55%;
/*	background-color: green;*/
	background-image: url('./assets/icons/texas.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;	
/*    opacity: 1;*/
    transition: blink 7s ease;
     -moz-animation: blink normal 7s infinite ease; /* Firefox */
    -webkit-animation: blink normal 7s infinite ease; /* Webkit */
    -ms-animation: blink normal 7s infinite ease; /* IE */
    animation: blink normal 7s infinite ease; /* Opera and prob css3 final iteration */
}

@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
        background-image: url('./assets/icons/tripledtext.png');
        background-size: 100%;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
 
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
        background-image: url('./assets/icons/tripledtext.png');
        background-size: 100%;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
        background-image: url('./assets/icons/tripledtext.png');
        background-size: 100%;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/*** Opera and prob css3 final iteration ***/
@keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
        background-image: url('./assets/icons/tripledtext.png');
        background-size: 100%;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/*** personal (work & other stuff) ***/ 

#personal-container {
/*	display: flex;*/
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: inherit;
/*	border: 1.5px solid black;*/
	z-index: 100;	
}

#personal-copy-container {
	display: block;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	width: 40%;
	height: 100%;
/*	background-color: blue;*/
/*	border: 1.5px solid black;*/
	opacity: 1;
/*	transition: all 3s ease;*/
}

#personal-copy-wrapper {
	display: flex;	
	flex-direction: column;
	width: auto;
	height: auto;
	border-radius: 25px;
	background-color: transparent;	
	padding-left: 40px;
	padding-right: 20px;
	color: black;
	font-family: "Degular-Light";
	font-size: 25px;	
/*	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
/*	white-space:nowrap;*/
}

#personal-copy-italics {
	padding: 0px !important;
	margin: 0px !important;
	font-family: "Swear-Display-Display-Italic";
	 white-space: pre-wrap;
   word-wrap: break-word;
   display: inline;
   max-width: 100%;
	}

#personal-row-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	width: 60%;
	height: 100%;
/*	border: 1.5px solid black;*/
	opacity: 1;
/*	transition: all 3s ease;*/
}

#personal-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	width: 100%;
	height: 100%;
/*	border: 1.5px solid black;*/
	opacity: 1;
/*	transition: all 3s ease;*/
}

#personal-image-container {
	display: flex;	
	width: 100%;
	height: 100vh;
	border-radius: 25px;
	background-color: transparent;	
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	cursor: pointer;
}

#personal-image-container.one {
	background-image: url(./assets/images/personal/home-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.one {
  display: none;
}

#personal-image-fullscreen-container.one.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/home-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.two {
	background-image: url(./assets/images/personal/manifesto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.two {
  display: none;
}

#personal-image-fullscreen-container.two.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/manifesto.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.three {
	background-image: url(./assets/images/personal/dirty.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.three {
  display: none;
}

#personal-image-fullscreen-container.three.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/dirty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.four {
	background-image: url(./assets/images/personal/hourglass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.four {
  display: none;
}

#personal-image-fullscreen-container.four.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/hourglass.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.five {
	background-image: url(./assets/images/personal/snakeskin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.five {
  display: none;
}

#personal-image-fullscreen-container.five.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/snakeskin.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.six {
	background-image: url(./assets/images/personal/yayo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.six {
  display: none;
}

#personal-image-fullscreen-container.six.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/yayo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.seven {
	background-image: url(./assets/images/personal/fragmentation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.seven {
  display: none;
}

#personal-image-fullscreen-container.seven.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/fragmentation.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.eight {
	background-image: url(./assets/images/personal/the-law.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.eight {
  display: none;
}

#personal-image-fullscreen-container.eight.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/the-law.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.nine {
	background-image: url(./assets/images/personal/even-silk-feels-rough.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.nine {
  display: none;
}

#personal-image-fullscreen-container.nine.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/even-silk-feels-rough.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-image-container.ten {
	background-image: url(./assets/images/personal/texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#personal-image-fullscreen-container.ten {
  display: none;
}

#personal-image-fullscreen-container.ten.fullscreen {
  display: flex;
  z-index: 9999;
  position: fixed;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);	
  background-image: url(./assets/images/personal/texture.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;	
  border-radius: 0px;
  cursor: pointer;
}

#personal-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;	
	width: auto;
	height: auto;
/*	border: 1.5px solid black;*/
}

#personal-content-title-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	align-items: flex-start;
	width: 99.6%;
/*	height: 35%;*/
/*	border: 1.5px solid black;*/
	text-align: start;
}

#personal-title {
	color: black;
    font-family: "Degular-Light";
    font-size: 22px;
}

#personal-title-italics {
	color: black;
    font-family: "Swear-Display-Display-Italic";
    font-size: 22px;
}

/*** my work ***/ 

#work-container {
/*	display: flex;*/
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 90%;
/*	border: 1.5px solid black;*/
	z-index: 100;	
}	

#work-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;	
	width: 99%;
	height: 90%;
/*	border: 1.5px solid black;*/
	margin-bottom: 70px;
	opacity: 1;
/*	transition: all 3s ease;*/
}

#work-image-container {
	display: flex;	
	width: 30%;
	height: 100%;
	border-radius: 25px;
	background-color: black;	
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#work-image-container.twenty-eight {
	background-image: url(./assets/images/work/DOMESTICANX.png);
	background-color: #c1ce5b;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;	
}

#work-image-container.twenty-seven {
	background-image: url(./assets/images/work/lizette-ayala-mtv.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.twenty-six {
	background-image: url(./assets/images/work/lacey-lennon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.twenty-five {
	background-image: url(./assets/images/work/zoe-saldana.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;	
}

#work-image-container.twenty-four {
	background-image: url(./assets/images/work/el-museo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;	
}

#work-image-container.twenty-three {
	background-image: url(./assets/images/work/new-inc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;	
}

#work-image-container.twenty-two {
	background-image: url(./assets/images/work/julio-macias.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;	
}

#work-image-container.twenty-one {
	background-image: url(./assets/images/work/michaela-j.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;	
}

#work-image-container.twenty {
	background-image: url(./assets/images/work/touch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.nineteen {
	background-image: url(./assets/images/work/skin-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.eighteen {
	background-image: url(./assets/images/work/solace.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.seventeen {
	background-image: url(./assets/images/work/kali-uchis.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;	
}

#work-image-container.sixteen {
	background-image: url(./assets/images/work/community-cookbook.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.fifteen {
	background-image: url(./assets/images/work/cauleen-smith.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.fourteen {
	background-image: url(./assets/images/work/playground-radio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.thirteen {
	background-image: url(./assets/images/work/other-publishing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.twelve {
	background-image: url(./assets/images/work/ftp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.eleven {
	background-image: url(./assets/images/work/museo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.ten {
	background-image: url(./assets/images/work/hindsight.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;	
}

#work-image-container.nine {
	background-image: url(./assets/images/work/footlocker.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;	
}

#work-image-container.eight {
	background-image: url(./assets/images/work/NY6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.seven {
	background-image: url(./assets/images/work/anti-parsing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.six {
	background-image: url(./assets/images/work/the-question.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.five {
	background-image: url(./assets/images/work/museum-of-capitalism.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.four {
	background-image: url(./assets/images/work/earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.three {
	background-image: url(./assets/images/work/historical.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.two {
	background-image: url(./assets/images/work/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#work-image-container.one {
	background-image: url(./assets/images/work/state-of-exception.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}


#work-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;	
	width: 65%;
	height: 100%;
/*	border: 1.5px solid black;*/
}

#work-content-title-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	align-items: flex-start;
	width: 99.6%;
/*	height: 35%;*/
/*	border: 1.5px solid black;*/
	text-align: start;
}

#work-title {
	color: black;
	font-family: "Swear-Display-Medium-Citali";
	font-size: 65px;
	margin-top: 0px;
}

#work-content-role-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	width: 99.6%;
/*	height: 30%;*/
/*	border: 1.5px solid black;*/
margin-bottom: 40px;
}

#work-role {
	color: black;
	font-family: "Degular-Light";
	font-size: 25px;
	margin-top: -5px;	
}

#work-role-italics {
	font-family: "Swear-Display-Medium-Citali";
}

#work-links-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;	
	width: 99.6%;
	height: auto;
/*	border: 1.5px solid black;	*/
}

#work-link-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;	
	width: 99.6%;
	height: auto;
	border-bottom: 1.5px solid black;
	cursor: pointer;	
}

#work-link {
	color: black;
	font-family: "Degular-Light";
	font-size: 20px;
}

#work-arrow {
	width: 7%;
	height: 100%;
	cursor: pointer;
	background-image: url(./assets/icons/publications-arrow.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    transform: rotate(-0.35turn);
    transition: all 0.5s ease;	
    color: transparent;
    align-self: center;
    padding-top: 20px;
}

#work-arrow:hover {
	transform: rotate(-0.25turn);	
}

#work-spacer {
	display: flex;
	align-self: center;
	width: 90%;
	height: 40%;
/*	background-color: black;*/
/*	opacity: 0;*/
	border-top: 1.5px solid black;
	margin-bottom: 20px;
}


/*** about me ***/


#about-container {
/*	display: flex;*/
	display: none;
	flex-direction: row;
	justify-content: center !important;
	align-content: center !important;
	width: 95%;
	height: 90%;
/*	background-color: black;*/
	z-index: 100;	
    margin: 0px !important;
    padding: 0px !important;
}

#profile-picture-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	width: 25%;
	height: 100%;
/*	border-radius: 25px;*/
/*	background-color: blue;	*/
	margin-left: 5px;
}

#profile-picture {
    width: 99%;
    height: 92%;
    border-radius: 25px;
    border: 1.5px solid black;
    background-image: url(./assets/images/profile-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;	
}

#profile-picture-credits {
	color: black;
	font-family: "Degular-Light";
	font-size: 16px;
	cursor: pointer;
	text-align: bottom;
}

#artist-statement {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80%;
/*	background-color: blue;	*/
	/* margin-right: 10px;	 */
}

#statement-copy {
	text-align: center;
	margin-top: 0px;
	color: black;
	font-family: "Degular-Light";
	font-size: 18px;	
}

#statement-copy-italics {
	font-family: "Swear-Display-Display-Italic";
}

/*** publications ***/

#publications-container {
/*	display: flex;*/
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	width: 100%;
	height: 85%;
	/*background-color: black;*/
/*	border: 1.5px solid black;*/
	z-index: 100;
	overflow-y: scroll;
	overflow-x: hidden;
}

#publication-wrapper {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 99%;
	height: 100%;
/*	background-color: green;*/
	border-bottom: 1.5px solid black;
	cursor: pointer;
}

#publication-title {
	color: black;
	font-family: "Swear-Display-Display-Italic";
	font-size: 22px;	
	width: 44%;
/*	background-color: green;*/
	text-align: start;
}

#publicator {
	color: black;
	font-family: "Degular-Light";
	font-size: 22px;
	width: 35%;
/*	background-color: red;*/
	text-align: start;
}

#publication-year {
	color: black;
	font-family: "Degular-Light";
	font-size: 22px;
	width: 16%;
/*	background-color: blue;*/
	text-align: start;
}

#publication-link {
/*	background-color: black;*/
	width: 5%;
	height: 100%;
	cursor: pointer;
	background-image: url(./assets/icons/publications-arrow.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    transform: rotate(-0.35turn);
    transition: all 0.5s ease;
}

#publication-link:hover {
    transform: rotate(-0.25turn);
}


a#publication {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 7vh;
    color: black;
    text-decoration: none;
    transform: none !important;
}

a#publication:hover {
    color: black;
    text-decoration: none !important;
    border-style: none !important;
    margin-bottom: none !important;
    border-width: none !important;
}

a#publication:active {
    color: black;
    text-decoration: none !important;
    border-style: none !important;
    margin-bottom: none !important;
    border-width: none !important;
}

a#publication:visited {
    color: black;
    text-decoration: none !important;
    border-style: none !important;
    margin-bottom: none !important;
    border-width: none !important;
}


a#work-link {
/*	display: flex;*/
	justify-content: flex-start;
	align-content: center;
/*	align-items: center;*/
	text-align: center;
	width: 100%;
	height: 100%;
    color: black;
    text-decoration: none;
    transform: none !important;
}

a#work-link:hover {
    color: black;
    text-decoration: none !important;
    border-style: none !important;
    margin-bottom: none !important;
    border-width: none !important;
}

a#work-link:active {
    color: black;
    text-decoration: none !important;
    border-style: none !important;
    margin-bottom: none !important;
    border-width: none !important;
}

a#work-link:visited {
    color: black;
    text-decoration: none !important;
    border-style: none !important;
    margin-bottom: none !important;
    border-width: none !important;
}


/* Large screens 1440px ----------- */
@media only screen  and (min-width : 1440px) {

/*** Styles ***/

#navigation-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15;
    left: 15;
    width: 95%;
    height: 92.5%;
    border-radius: 25px;
    border: 1.5px solid black;
    padding: 20px;
}

#navigation-link {
    color: black;
    font-size: 40px;
    font-family: "Swear-Display-Display-Regular";
    cursor: pointer;
    transition: all 0.5s ease;
}

#navigation-link:hover {
	color: black;
	font-size: 40px;
	cursor: pointer;
 transform:skew(-15deg);
}

#landing-quote-copy {
    position: absolute;
    top: -1vh;
    color: black;
    font-family: "Degular-Light";
    font-size: 45px;
}

#profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 40%;
    height: 100%;
    /* border-radius: 25px; */
    /* background-color: blue; */
    margin-left: 5px;
}

#profile-picture-credits {
    color: black;
    font-family: "Degular-Light";
    font-size: 25px;
    cursor: pointer;
    text-align: bottom;
}

#artist-statement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    text-align: top;
    width: 56%;
    height: 100%;
    /* background-color: blue; */
    margin-right: 10px;
}

#statement-copy {
    text-align: top;
    margin-top: 0px;
    color: black;
    font-family: "Degular-Light";
    font-size: 25px;
}

#publication-title {
    color: black;
    font-family: "Swear-Display-Display-Italic";
    font-size: 25px;
    width: 44%;
    /* background-color: green; */
    text-align: start;
}

#publicator {
    color: black;
    font-family: "Degular-Light";
    font-size: 25px;
    width: 35%;
    /* background-color: red; */
    text-align: start;
}

#publication-year {
    color: black;
    font-family: "Degular-Light";
    font-size: 25px;
    width: 16%;
    /* background-color: blue; */
    text-align: start;
}


}



/* Large screens 1924px ----------- */
@media only screen  and (min-width : 1924px) {

/* Styles */

#navigation-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20;
    left: 20;
    width: 96.5%;
    height: 95%;
    border-radius: 25px;
    border: 1.5px solid black;
    padding: 20px;
}

#navigation-link {
    color: black;
    font-size: 70px;
    font-family: "Swear-Display-Display-Regular";
    cursor: pointer;
    transition: all 0.5s ease;
}

#navigation-link:hover {
	color: black;
	font-size: 70px;
	cursor: pointer;
 transform:skew(-15deg);
}

#landing-quote-copy {
    position: absolute;
    top: -0.5vh;
    color: black;
    font-family: "Digestive";
    font-size: 200px;
}

#statement-copy {
    text-align: top;
    margin-top: 0px;
    color: black;
    font-family: "Degular-Light";
    font-size: 45px;
}

#profile-picture-credits {
    color: black;
    font-family: "Degular-Light";
    font-size: 45px;
    cursor: pointer;
    text-align: bottom;
}

#publication-title {
    color: black;
    font-family: "Swear-Display-Display-Italic";
    font-size: 45px;
    width: 44%;
    /* background-color: green; */
    text-align: start;
}

#publicator {
    color: black;
    font-family: "Degular-Light";
    font-size: 45px;
    width: 35%;
    /* background-color: red; */
    text-align: start;
}

#publication-year {
    color: black;
    font-family: "Degular-Light";
    font-size: 45px;
    width: 16%;
    /* background-color: blue; */
    text-align: start;
}

#work-container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    /* border: 1.5px
 solid black; */
    z-index: 100;
}

#work-title {
    color: black;
    font-family: "Swear-Display-Medium-Citali";
    font-size: 110px;
    margin-top: -20px;
}

#work-role {
    color: black;
    font-family: "Degular-Light";
    font-size: 45px;
    margin-top: -5px;
}

#work-link {
    color: black;
    font-family: "Degular-Light";
    font-size: 40px;
}


}

/* Tablet (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {


#background-container {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 102vw;
    height: 102vh;
    overflow: hidden;
    background-color: black;
}

#navigation-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10;
    left: 10;
    width: 93.7%;
    height: 90.6%;
    border-radius: 25px;
    border: 1.5px solid black;
    padding: 20px;
}

#all-content-container {
    position: absolute;
    right: 1vw;
    top: 10vh;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 95%;
    height: 80.5%;
    /* background-color: green; */
    opacity: 1;
    transition: opacity 6s ease;
}

#landing-quote-copy {
    position: absolute;
    top: -4vh;
    color: black;
    font-family: "Degular-Light";
    font-size: 26px;
}

#work-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 86%;
    z-index: 100;
}

#work-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 99%;
    height: 90%;
    margin-bottom: 40px;
}

#work-title {
    color: black;
    font-family: "Swear-Display-Medium-Citali";
    font-size: 40px;
     margin-top: -10px; 
}

#work-role {
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    margin-top: -5px;
}

#work-link {
    color: black;
    font-family: "Degular-Light";
    font-size: 16px;
}

#personal-copy-wrapper {
	font-size: 18px;
}

#about-container {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: 85%;
    z-index: 100;
    overflow: hidden;
}

#profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 40%;
    height: 100%;
    margin-left: 5px;
}

#artist-statement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    /* text-align: top; */
    width: 100%;
    height: 100%;
    margin-right: 10px;
    overflow-y: scroll;
}

#statement-copy {
    text-align: top;
    margin-top: 0px;
    color: black;
    font-family: "Degular-Light";
    font-size: 12px !important;
}

#profile-picture-credits {
    color: black;
    font-family: "Degular-Light";
    font-size: 14px;
    cursor: pointer;
    text-align: bottom;
}

#publication-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 99%;
    height: 12%;
    border-bottom: 1.5px solid black;
    cursor: pointer;
}

#publication-title {
    color: black;
    font-family: "Swear-Display-Display-Italic";
    font-size: 18px;
    width: 40%;
    text-align: start;
}

#publicator {
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    width: 35%;
    text-align: start;
}

#publication-year {
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    width: 16%;
    text-align: start;
}


}


/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

/*** Landing Page Styles ***/

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#background-container {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black !important; 
}

#background-video {
    position: absolute;
    top: -25vh;
    height: auto;
    width: auto;
    transform: scale(1);
    /* min-height: 100vh; */
}

#navigation-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10;
    left: 10;
    width: 90vw;
    height: 92.5vh !important;
    border-radius: 25px;
    border: 1.5px solid black;
    padding: 10px;
}

#top-navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 90%;
    height: 10%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    /* background-color: black; */
}

#navigation-link {
    color: black;
    font-size: 22px;
    font-family: "Swear-Display-Display-Regular";
    cursor: pointer;
    transition: all 0.5s ease;
}

#navigation-link:hover {
	color: black;
	font-size: 22px;
	cursor: pointer;
 transform:skew(-15deg);
}

#landing-quote-copy {
    position: absolute;
    top: 0vh;
    color: black;
    font-family: "Degular-Light";
    font-size: 22px;
}

#texas-icon-container {
	display: none !important;
    position: absolute;
    top: 32vh;
    left: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    /* background-color: green; */
    background-image: url(./assets/icons/texas.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    /* opacity: 1; */
    transition: blink 7s ease;
    -moz-animation: blink normal 7s infinite ease;
    -webkit-animation: blink normal 7s infinite ease;
    -ms-animation: blink normal 7s infinite ease;
    animation: blink normal 7s infinite ease;
}

#bottom-navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    width: 90%;
    height: 10%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    /* background-color: black; */
}

#all-content-container {
    position: absolute;
/*    top: 6vh;*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 77%;
    /* background-color: green; */
    opacity: 1;
    transition: opacity 6s ease;
}

#landing-quote-copy {
    position: absolute;
    padding: 35px;
    top: 2vh;
    color: black;
    font-family: "Degular-Light";
    /* font-family: "Swear-Display-Display-Italic"; */
    font-size: 22px;
}

/*** About Page Styles ***/

#about-container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 90%;
    height: 90%;
    /* background-color: black; */
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
}

#profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 100%;
    /* border-radius: 25px; */
    /* background-color: blue; */
    margin-left: 20px;
    margin-right: 20px;
    order: 2;
}

#profile-picture {
    width: 75%;
    height: 50vh;
    border-radius: 25px;
    border: 1.5px solid black;
    background-image: url(./assets/images/profile-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
}

#profile-picture-credits {
    color: black;
    font-family: "Degular-Light";
    font-size: 16px;
    cursor: pointer;
    text-align: bottom;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 40px;
}


#artist-statement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: auto;
    /* background-color: blue; */
    margin-left: 20px;
    margin-right: 20px;
    order: 1;
}

#statement-copy {
    text-align: center;
    margin-top: 0px;
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
}

/*** Publications Page Styles ***/

#publications-container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 90%;
    /* background-color: black; */
    /* border: 1.5px solid black; */
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
/*    margin-left: 20px;
    margin-right: 20px;*/
}

#publication-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    /* background-color: green; */
    border-bottom: 1.5px solid black;
    cursor: pointer;
}

a#publication {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    transform: none !important;
}

#publication-title {
    color: black;
    font-family: "Swear-Display-Display-Italic";
    font-size: 18px;
    width: 100%;
    /* background-color: green; */
    text-align: start;
}

#publicator {
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    width: 75%;
    /* background-color: red; */
    text-align: end;
}

#publication-year {
	display: none;
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    width: auto;
    /* background-color: blue; */
    text-align: start;
}

#publication-link {
	display: none;
    /* background-color: black; */
    width: 5%;
    height: 100%;
    cursor: pointer;
    background-image: url(./assets/icons/publications-arrow.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    transform: rotate(-0.35turn);
    transition: all 0.5s ease;
}

/*** Personal Page Styles ***/

#personal-container {
    /* display: flex; */
    display: none;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    height: 90%;
    /* border: 1.5px solid black; */
    z-index: 100;
}

#personal-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* border: 1.5px solid black; */
    margin-bottom: 70px;
    opacity: 1;
    /* transition: all 3s ease; */
}

#personal-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 100%;
    /* border: 1.5px solid black; */
    margin-left: 20px;
    margin-right: 20px;
}

#personal-image-container {
    width: 75%;
    height: 50vh;
    background-image: url(./assets/images/work/touch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#personal-content-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    /* height: 35%; */
    /* border: 1.5px solid black; */
    text-align: center;
}

#personal-title {
    color: black;
/*    font-family: "Swear-Display-Medium-Citali";
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;*/
}

#personal-copy-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 25px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    /* box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%); */
    /* white-space: nowrap; */
}

#personal-copy-container {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* border: 1.5px solid black; */
    opacity: 1;
    /* transition: all 3s ease; */
    padding-bottom: 30px;
}

#personal-row-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: fit-content;
    /* border: 1.5px solid black; */
    opacity: 1;
    /* transition: all 3s ease; */
}


/**** Work Page Styles ****/

#work-container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    height: 90%;
    /* border: 1.5px solid black; */
    z-index: 100;
}

#work-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* border: 1.5px solid black; */
    margin-bottom: 70px;
    opacity: 1;
    /* transition: all 3s ease; */
}

#work-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 100%;
    /* border: 1.5px solid black; */
    margin-left: 20px;
    margin-right: 20px;
}

#work-image-container {
    width: 75%;
    height: 50vh;
    background-image: url(./assets/images/work/touch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#work-content-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    /* height: 35%; */
    /* border: 1.5px solid black; */
    text-align: center;
}

#work-title {
    color: black;
    font-family: "Swear-Display-Medium-Citali";
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#work-content-role-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    /* height: 30%; */
    /* border: 1.5px solid black; */
    margin-bottom: 0px;
    text-align: center;
}

#work-role {
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#work-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: auto;
    /* border: 1.5px solid black; */
}

#work-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: auto;
    border-bottom: 1.5px solid black;
    cursor: pointer;
}

#work-link {
    color: black;
    font-family: "Degular-Light";
    font-size: 18px;
}

#work-arrow {
    width: 12%;
    height: 100%;
    cursor: pointer;
    background-image: url(./assets/icons/publications-arrow.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    transform: rotate(-0.35turn);
    transition: all 0.5s ease;
    color: transparent;
    align-self: center;
    padding-top: 20px;
}























}

